header{
    position:sticky;
    top: 0;
    z-index: 5;
    height: 76px;
    margin: 0;
    padding: 0;
}
.head{
    margin: 20px;
    padding: 5px;
    color: rgb(198, 182, 182);
background-color: rgb(59, 58, 58);
border-radius: 10px;
font-size: 20px;
}


body{
    background-color: rgb(227, 234, 241);
}
h1{
    font-size: 40px;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}
h3{
    font-size: 30px;
}
.container{
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
}
.header{
    margin: 20px;
    padding: 20px;
background-color: white;
border-radius: 10px;
font-size: 20px;


}
.example{
    margin: 20px;
    padding: 10px;
background-color: white;
border-radius: 10px;
font-size: 20px;
}
th{
    font-size: 20px;
}
.type{
    margin: 20px;
    padding: 25px;
background-color: white;
border-radius: 10px;
font-size: 20px;


}
.lover{
    display: flex;
    align-items: center;
    justify-content: center;
}
.typeqr{
    display: flex;
}
.moreb {

   
    margin: 10px;
    }
.moreb button{
text-decoration: none;
background-color:white ;
    width: 260px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: -18px -18px 18px rgb(255,255,255,0.2),
    18px 18px 18px rgb(0,0,0,0.1);
    

}

button a{
    text-decoration: none;
    color: black;
}
.qr{

    background-color: white;
    border-radius: 10px;
    box-shadow: -18px -18px 18px rgb(255,255,255,0.2),
    18px 18px 18px rgb(0,0,0,0.1);
    height:260px ;
    width: 260px;
    
}
.qrback{
    

    
     text-align: center;
    justify-content: center; 
    
}
.openqr h1{
display: flex;
align-items: center;
justify-content: center;
}
.openqr h2{
font-size: 25px;
font-family: sans-serif;
}
.openqr h3{
font-size: 30px;
font-family: sans-serif;
}
.openqr h4{
    font-size: 25px;
}
.openqr p{
font-size: 20px;
}

/* qr page */
.arraytop1{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.def{
    margin: 20px;
    padding: 20px;
}
.def h3{
font-size: 20px;
}
.def h2{
    font-size: 25px ;
}
.type1{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.type2{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.type3{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
footer{
    color: rgb(198, 182, 182);
background-color: rgb(59, 58, 58);
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
}
footer li{
list-style: none;
color: black;
margin: 15px;
}
footer li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
footer p{
font-size: 20px;
position: relative;
left: 50px;
}
h5{
    font-size: 20px;
    font-family: sans-serif;
}